<ion-modal-view>
    <ion-header-bar class="bar-balanced material-background-nav-bar">
        <button class="button button-clear" ng-click="close_calender_view_model()">
            <i class="ion-android-arrow-back">
            </i>
        </button>
        <h1 class="title">
            ご利用の日時を選択してください
        </h1>
    </ion-header-bar>
    <ion-content>
        <md-content layout-gt-sm="row" layout-padding="" md-theme="docs-dark">
            <md-input-container class="md-block" flex-gt-sm="" style="margin: 0;">
                <div layout="row" layout-align="space-between center">
                    <span style="margin-top: 0px;">
                        最大予約期間
                    </span>
                    <h4>
                        {{parking_data.vehicle_space_details[selected.type]['schedule'].length}}日
                    </h4>
                </div>
                <div layout="row" layout-align="space-between center">
                    <span style="margin-top: 0px;">
                        ご利用時間
                    </span>
                    <h4>
                        {{parking_data.utilization_start_time}} ~ {{parking_data.utilization_end_time}}
                    </h4>
                </div>
            </md-input-container>
        </md-content>
        <md-divider>
        </md-divider>
        <md-list-item class="md-2-line" ng-repeat="n in [] | range:parking_data.vehicle_space_details[selected.type]['reserved'].length" ng-style="parking_data.vehicle_space_details[selected.type]['schedule'][n]==1 && {'background-color':'rgba(0, 0, 0, 0.1)'}" style="border-bottom: rgba(0, 0, 0, 0.12) 1px solid;">
            <h1 ng-if="(today | dateadding : $index | getweekend)!=0 && (today | dateadding : $index | getweekend)!=6">
                {{today | dateadding : $index | date:"EEE"}}
            </h1>
            <h1 ng-if="(today | dateadding : $index | getweekend)==6" style="color: #03a9f4;">
                {{today | dateadding : $index | date:"EEE"}}
            </h1>
            <h1 ng-if="(today | dateadding : $index | getweekend)==0" style="color: red;">
                {{today | dateadding : $index | date:"EEE"}}
            </h1>
            <p ng-if="parking_data.vehicle_space_details[selected.type]['schedule'][n]!=1" ng-style="(today | dateadding : $index | getweekend)===0 && {'color':'red'} || (today | dateadding : $index | getweekend)===6 && {'color':'#06a9f4'} || ((today | dateadding : $index | getweekend)>=1 && (today | dateadding : $index | getweekend ) <=6) && {'color':'black'}" style="text-align: center;margin-top: 10px;font-weight: bold;font-size: 16px;">
                <span style="border-bottom: rgba(0,0,0,0.26) 1px solid;padding: 0px 40px;">
                    {{today | dateadding : $index | date:"dd日MM月"}}
                </span>
                <br>
                    ¥{{parking_data.vehicle_space_details[selected.type].standard_price}} -
                </br>
            </p>
            <p ng-if="parking_data.vehicle_space_details[selected.type]['schedule'][n]==1" ng-style="(today | dateadding : $index | getweekend)===0 && {'color':'red'} || (today | dateadding : $index | getweekend)===6 && {'color':'#06a9f4'} || ((today | dateadding : $index | getweekend)>=1 && (today | dateadding : $index | getweekend ) <=6) && {'color':'black'}" style="text-align: center;margin-top: 16px;font-weight: bold;font-size: 16px;">
                予約不可
            </p>
            <md-checkbox class="md-secondary" md-indeterminate="false" ng-change="toggle($index,{{today | dateadding : $index}})" ng-if="parking_data.vehicle_space_details[selected.type]['schedule'][n]!=1" ng-model="checkbox1">
            </md-checkbox>
        </md-list-item>
    </ion-content>
</ion-modal-view>
