<!--View Information-->
<!--View name : Dropbox Login -->
<!--Controller name : dropboxLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/dropbox/js/controllers.js-->
<!--State name : app.dropboxLogin-->
<!--URL : #app/dropboxLogin-->

<ion-view title="インフォメーション">
    <!--login content section-->
    <ion-content scroll="true" id="social-login" style="text-align: left;">
    
    <div class="list">
<a class="item item-icon-left item-icon-right" href="https://tomereta.jp/sp/top/privacy" target="_system"  onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
    <i class="icon ion-ios-information-outline"></i>
      お知らせ
    <span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
  </a>
<a class="item item-icon-left item-icon-right" href="https://tomereta.jp/sp/top/privacy" target="_system"  onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
  <i class="icon ion-ios-information-outline"></i>
  お知らせ
  <span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>

<a class="item item-icon-left item-icon-right" href="https://tomereta.jp/sp/top/privacy" target="_system"  onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
  <i class="icon ion-ios-information-outline"></i>
  アプリについて
  <span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>

<a class="item item-icon-left item-icon-right" href="https://tomereta.jp/sp/top/privacy" target="_system"  onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
  <i class="icon ion-ios-information-outline"></i>
  アプリの使い方
<span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>

<a class="item item-icon-left item-icon-right" href="https://tomereta.jp/sp/top/privacy" target="_system">
  <i class="icon ion-ios-information-outline"></i>
Q&A
<span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>
<a class="item item-icon-left item-icon-right" href="#" onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
  <i class="icon ion-ios-information-outline"></i>
お問い合わせ
<span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>
<a class="item item-icon-left item-icon-right" href="#" onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
  <i class="icon ion-ios-information-outline"></i>
  利用規約運営会社
  <span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>
<a class="item item-icon-left item-icon-right" href="#" onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
<i class="icon ion-ios-information-outline"></i>
特定商取引法
<span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>
<a class="item item-icon-left item-icon-right" href="#" onclick="window.open('https://tomereta.jp/sp/top/privacy', '_system', 'location=yes'); return false;">
  <i class="icon ion-ios-information-outline"></i>
個人情報保護方針
<span class="item-note">
     <i class="icon ion-arrow-right-c"></i>
    </span>
</a>

</div>

    </ion-content><!--end login content section-->
</ion-view>
