<!--View Information-->
<!--View name : Restaurant-->
<!--State name : app.restaurant-->
<!--URL : #app/restaurant-->
<ion-view title="{{parking_data.name}}">
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item nav-back-btn" ng-click="$ionicGoBack()">
            <i class="ion-android-arrow-back">
            </i>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button back-button buttons button-clear header-item nav-back-btn" ng-click="insertfavlist()" ng-style="$scope.issave">
            <i aria-hidden="true" class="fa fa-star" ng-style="issave=== true ? { color:'#ffc900' } : { color:'#f8f8f8'  } ">
            </i>
        </a>
    </ion-nav-buttons>
    <!--restaurant section-->
    <ion-content id="restaurant">
        <!--product slide section-->
        <!--restaurant content section-->
        <div id="restaurant-content" style="margin: 0px;">
            <ion-scroll class="product-slide-list" direction="x" style="
    overflow-x: inherit !important;">
                <div class="feed-list" style="height: 200px;padding: 0px;">
                    <div class="feed-item" ng-repeat="image in imagelist" style="width: 100%;margin-right: 0px;height: 200px;">
                        <div class="hfij-slidebox-image" style="background-image: url({{image.url}})">
                            <div class="hfij-slidebox-title">
                                {{image.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <md-divider>
            </md-divider>
            <a href="{{parking_data.map_url}}" target="{{parking_data.map_url_target}}">
                <img ng-click="openGoogleMap()" ng-src="{{parking_data.map_image_url}}" style="width:100%"/>
            </a>
            <div class="card" ng-if="parking_data.parking_special_type==2" style="margin-top: 10px;">
                <md-whiteframe class="md-whiteframe-1dp" flex-gt-md="25" flex-gt-sm="35" flex-sm="45" layout="" layout-align="center center" style="background-color: #ff5252;">
                    <h5>
                        <i aria-hidden="true" class="fa fa-clock-o" style="color: white;">
                        </i>
                        <span style="color: white;">
                            時間貸し駐車場
                            <span>
                            </span>
                        </span>
                    </h5>
                </md-whiteframe>
            </div>
            <div class="card" ng-if="parking_data.monthly_vehicle_type==1" style="margin-top: 10px;">
                <md-whiteframe class="md-whiteframe-1dp" flex-gt-md="25" flex-gt-sm="35" flex-sm="45" layout="" layout-align="center center" style="background-color: #97c626;">
                    <h5>
                        <i aria-hidden="true" class="fa fa-calendar" style="color: white;">
                        </i>
                        <span style="color: white;">
                            月極駐車場です。
                            <span>
                            </span>
                        </span>
                    </h5>
                </md-whiteframe>
            </div>
            <div class="card" ng-if="parking_data.monthly_vehicle_type==1" style="margin-top: 10px;">
                <md-whiteframe class="md-whiteframe-1dp" flex-gt-md="25" flex-gt-sm="35" flex-sm="45" layout="" layout-align="center center">
                    <h5>
                        <i aria-hidden="true" class="fa fa-exclamation-triangle" style="color: #ffc900;">
                        </i>
                        ご予約出来ない駐車場です。
                    </h5>
                </md-whiteframe>
            </div>
            <div class="item item-divider" style="font-weight: bold;color: #0d563e;">
                駐車場基本情報
            </div>
            <div id="pricing-content" style="font-size: 12px; color: #0d563e;">
                <div class="row price-detail">
                    <div class="col-33 package-name">
                        名前
                    </div>
                    <div class="col-66 package-subscribe">
                        {{parking_data.name}}
                    </div>
                </div>
                <div class="row price-detail">
                    <div class="col-33 package-name">
                        駐車場タイプ
                    </div>
                    <div class="col-66 package-subscribe">
                        {{parking_data.parking_type}}
                    </div>
                </div>
                <div class="row price-detail" ng-if="parking_data.address">
                    <div class="col-33 package-name">
                        住所
                    </div>
                    <div class="col-66 package-subscribe">
                        {{parking_data.prefecture}}{{parking_data.city}}{{parking_data.address}}
                    </div>
                </div>
                <div class="row price-detail" ng-if="parking_data.vehiclePos">
                    <div class="col-33 package-name">
                        駐車可能車両
                    </div>
                    <div class="col-66 package-subscribe">
                        {{parking_data.vehiclePos}}
                    </div>
                </div>
                <div class="row price-detail" ng-if="parking_data.car">
                    <div class="col-33 package-name">
                        駐車可能台数
                    </div>
                    <div class="col-66">
                        <div class="row">
                            <div class="col">
                                車 :
                                <span style="color: rgb(244,67,54);font-size: 17px;font-weight: bold;">
                                    {{parking_data.car}}
                                </span>
                                台
                            </div>
                            <div class="col">
                                バイク :
                                <span style="color: rgb(244,67,54);font-size: 17px;font-weight: bold;">
                                    {{parking_data.bike}}
                                </span>
                                台
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row price-detail" ng-if="parking_data.distance">
                    <div class="col-33 package-name">
                        距離
                    </div>
                    <div class="col-66 package-subscribe">
                        <span style="color: rgb(244,67,54);font-size: 17px;font-weight: bold;">
                            {{parking_data.distance | distance }}km
                        </span>
                    </div>
                </div>
                <div class="row price-detail" ng-if="parking_data.monthly_price && parking_data.monthly_price>0">
                    <div class="col-33 package-name">
                        月極料金
                    </div>
                    <div class="col-66 package-subscribe">
                        <span style="color: rgb(244,67,54);font-size: 17px;font-weight: bold;">
                            ¥{{parking_data.monthly_price | number:0 }}／月～
                        </span>
                    </div>
                </div>
            </div>
            <div class="item item-divider" ng-if="parking_data.description_areainfo_text!=''" style="font-weight: bold;color: #0d563e;">
                周辺情報
            </div>
            <md-content layout-gt-sm="row" layout-padding="" md-theme="docs-dark" ng-if="parking_data.description_areainfo_text!=''">
                <p ng-bind-html="parking_data.description_areainfo_text">
                </p>
            </md-content>
            <div class="item item-divider" ng-if="parking_data.description_feature_text!=''" style="font-weight: bold;color: #0d563e;">
                特徴
            </div>
            <md-content layout-gt-sm="row" layout-padding="" md-theme="docs-dark" ng-if="parking_data.description_feature_text!=''">
                <p class="newline" ng-bind-html="parking_data.description_feature_text | newline">
                </p>
            </md-content>
            <div class="item item-divider" ng-if="parking_data.description_important_text!=''" style="font-weight: bold;color: #0d563e;">
                注意点
            </div>
            <md-content layout-gt-sm="row" layout-padding="" md-theme="docs-dark" ng-if="parking_data.description_important_text!=''">
                <p class="newline" ng-bind-html="parking_data.description_important_text | newline">
                </p>
            </md-content>
            <div class="item item-divider" ng-if="parking_data.monthly_vehicle_type!='1'" style="font-weight: bold;color: #0d563e;">
                ご利用者情報
            </div>
            <md-content layout-gt-sm="row" layout-padding="" md-theme="docs-dark" ng-if="parking_data.monthly_vehicle_type!='1'">
                <md-input-container class="md-block" flex-gt-sm="" style="margin: 0;">
                    <div>
                        <div layout="row" layout-align="space-between center">
                            <span style="margin-top: 0px;">
                                ご利用時間
                            </span>
                            <h4>
                                {{parking_data.utilization_start_time}} ~ {{parking_data.utilization_end_time}}
                            </h4>
                        </div>
                        <div layout="row" layout-align="space-between center" ng-if="parking_data.parking_special_type_param1_price!=0">
                            <span style="margin-top: 0px;">
                                ご利用料金
                            </span>
                            <h4 style="color: white;font-size: 20px;font-weight: bold;background-color: #ef473a;padding: 5px;border-radius: 5px;">
                                ¥{{parking_data.parking_special_type_param1_price | number:0 }}／{{parking_data.parking_special_type_param1}}分
                            </h4>
                        </div>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <span style="margin-top: 0px;">
                            車両タイプ
                        </span>
                        <p ng-if="selected.type==null" style="margin-bottom: 0px;">
                            選択してください
                        </p>
                        <p ng-bind-html="parking_data.vehicle_space_details[selected.type].vehiclePos" ng-if="selected.type!=null" style="margin-bottom: 0px;">
                        </p>
                        <md-button class="md-icon-button" ng-click="show_vehicle_type_model()">
                            <i class="fa fa-chevron-right ">
                            </i>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <span style="margin-top: 0px;">
                            利用日時
                        </span>
                        <p style="margin-bottom: 0px;">
                            選択してください
                        </p>
                        <md-button class="md-icon-button" ng-click="show_calender_view_model()" ng-disabled="selected.type==null">
                            <i aria-hidden="true" class="fa fa-calendar">
                            </i>
                        </md-button>
                    </div>
                    <md-chips>
                        <md-chip class="chip-items" ng-repeat="date in selected_date">
                            {{date | date : "dd/MM"  }}
                        </md-chip>
                    </md-chips>
                    <md-button class="md-raised md-warn" md-ripple-size="full" ng-click="showConfirm()" style="margin-top: 20px;">
                        予約する
                    </md-button>
                </md-input-container>
            </md-content>
        </div>
    </ion-content>
</ion-view>
