.custom-marker.my1 {
    font-size: 1.5em;
    padding: 8px 15px 8px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #f1d5da solid 1px;
    background: #43bc85;
    color: white;
    font-weight: bold;
}

.custom-marker.my1:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #43bc85 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

.custom-marker.my1:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #43bc85 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
}

.custom-marker.my2 {
    font-size: 1.5em;
    padding: 8px 15px 8px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #f1d5da solid 1px;
    color: white;
    font-weight: bold;
    background: #ba443e;
}

.custom-marker.my2:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #ba443e transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

.custom-marker.my2:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #ba443e transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
}


.custom-marker.my1:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #43bc85 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
}

.custom-marker.my3 {
    font-size: 1.5em;
    padding: 8px 15px 8px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #7b8080 solid 1px;
    color: white;
    font-weight: bold;
    background: #7b8080;
}

.custom-marker.my3:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #7b8080 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

.custom-marker.my3:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #7b8080 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
}